@use '../login/login.component.scss' as *;

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.link-inline {
  color: var(--primary-gold);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.auth-container {
  @media (max-width: 1024px) {
    .auth-image-section {
      display: none;
    }
  }
}
